/*adaptive footer*/
html{
    height: 100%;
}

body {
    margin: 0;
    /*color: #fff;*/
    /* Растягиваем body по высоте html */
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: url("https://previews.123rf.com/images/bluebay/bluebay1504/bluebay150400181/39170672-stock-market-chart.jpg") no-repeat center top fixed;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

body::before{
    content: '';
    position: absolute;
    background: rgba(1,1,1,0.5);
    opacity: 85%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.container{
    padding: 0 !important;
}

/* nav */
.nav_l {
    width: 100%;
    background-color: rgba(3, 43, 246, 0.7);
    color: white !important;
}

.navbar-brand{
    padding: 5px;
    border: 0.5px solid white;
    border-radius: 2px;
    color: white !important;
    cursor: pointer;
}

.navbar-brand:hover{
    color: #b3d7ff !important;
    border-color: #b3d7ff;
}

.nav-item > a {
    color: white !important;
}

.nav-item > a:hover {
    color: #b3d7ff !important;
    transition: all 0.5s ;
}

.navbar-toggler-icon{
    color: white !important;
    background-color: white !important;
    border-radius: 2px;
}

@media all and (min-width: 768px){
    .nav-item > a:hover {
        border-bottom: 0.5px solid #b3d7ff;
        padding-bottom: 0;
    }
}


/* content */
.content_greeting {
    margin: auto;
}

.card_user {
    min-height: 25em;
}

.create_textarea {
    resize: none !important;
}

.content-bg{
    background-color: rgba(253, 252, 252, 0.9);
    margin-bottom: 20px;
    padding: 20px 0;
    z-index: 9;
    border: 0.1px solid transparent;
    border-radius: 10px;
}

.charts-title{
    background-color: rgba(253, 252, 252, 0.9);
    border: 0.1px solid transparent;
    border-radius: 10px;
}

.amount-wrap-none{
    white-space: nowrap;
}

@media all and (max-width: 653px){

    .card-link-months *:not('h2'){
        font-size: 14px;
    }
}

/* footer */
.footer_l {
    background-color: rgba(3, 43, 246, 0.7);
    color: white !important;
    z-index: 9;
}

.content_f a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px !important;
}

.content_f a:hover{
    color: #b3d7ff;
    padding-bottom: 0 !important;
    border-bottom: 0.5px solid #b3d7ff;
    transition: all 0.5mss;
}

.footer_l > hr{
    background-color: white !important;
}

.fa-facebook {
    color: white !important;
}

.fa-facebook:hover {
    background-color: white;
    border: 1px solid #0047fa;
    border-radius: 50%;
    color: #0047fa !important;
}

.fa-instagram{
    color: white !important;
    border: 1px solid transparent;
}

.fa-instagram:hover{
    color: #fd2d2d !important;
    background-color: white;
    border: 1px solid red;
    border-radius: 20%;
    border-bottom: red;
}

.fa-telegram{
    color: white !important;
    border: 1px solid transparent;
    border-radius: 50%;
}

.fa-telegram:hover{
    color: #3fb0ff !important;
    background-color: white;
    border: 1px solid #3fb0ff;
    border-radius: 50%;
}

/* media query */

@media all and (max-width: 402px){

    .footer-content_position{
        text-align: center;
    }

    .content_f{
        padding-top: 10px;
    }

    .social-link_adaptive{
        padding-top: 10px;
    }
}

@media screen and (min-width: 800px) {
    .cost_border {
        border-right: 1px solid gainsboro;
    }

    .nav_border {
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

    .usHome_border {
        display: block;
    }
}

@media all and (max-width: 991px){
    .cost_border {
        border-bottom: 1px solid gainsboro;
        border-right: none;
    }
}

@media screen and (max-width: 800px) {

    .nav_border {
        border: none;
    }

    .usHome_border {
        display: none !important;
    }

}

/*slider*/
.swiper-container {
    max-width: 690px;
    width: auto;
    height: fit-content;
}

@media all and (max-width: 574px){
    .swiper-container{
        width: fit-content;
        max-width: 300px;
    }

    .swiper-slide{
        max-width: 300px;
    }
}
